.card{
    align-items: center;
    position: relative;
    width: 30%;
     top: 50%;
    left: 35%;
    border-radius: 25px;
  background: white;
  padding: 20px;
}
.card-holder{
    position: center;
}
.form-group{
    text-align: center;
}