
<div class="buttons">
    <div class="Sum">
        <button class="button is-primary is normal " (click)="getOperation('Addition')">SUM</button >
    </div>
    <div class="Minus">
        <button class="button is-primary is normal" (click)="getOperation('Subtraction')">SUBTRACT</button>
    </div>
    <div class="Multiply">
        <button class="button is-primary is normal" (click)="getOperation('Multiplication')">MULTIPLY</button>
    </div>
    <div class="Divide">
        <button class="button is-primary is normal" (click)="getOperation('Division')">DIVISION</button>
    </div>


</div>
